name: icon-automation
on:
  push:
    branches:
      - master
    paths:
      - package.json

jobs:
  icon_automation:
    name: figma icon automation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          registry-url: "https://registry.npmjs.org"
      - run: yarn install
      - name: Figma Action
        uses: primer/figma-action@v1.0.0-alpha.2
        with:
          args: "format=svg outputDir=./src/ scale=2"
        env:
          FIGMA_FILE_URL: ${{ secrets.FIGMA_FILE_URL }}
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
      - run: yarn generate
      - run: yarn build:bundle
      - run: yarn publish --no-git-tag-version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      - run: yarn build
      - name: GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          build_dir: docs
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Get version from package.json
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - name: Dingtalk WebHook
        env:
          WEBHOOK_TOKEN: ${{ secrets.WEBHOOK_TOKEN }}
          MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          content="图标更新到$VERSION啦！\n$MESSAGE"
          curl -H "Content-Type: application/json" -X POST -d "{\"msgtype\": \"text\", \"text\": {\"content\": \"$content\"}}" $WEBHOOK_TOKEN
